/*!
 * Custom Bootstrap, based on Twitter Bootstrap
 * This styleguide imports all scss files from original bootstrap
 * and overrides only those that are modified with new custom files
 */

// Main Scss

//Bootstrap

// And this

@import './bootstrap/bootstrap';
@import '../../node_modules/aos/dist/aos.css';


header {
    height: 60vh;
    background-image: url('../images/header-bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    @extend .py-4;
    overflow: hidden;

    .container {
        z-index: 2;
    }
    .overlay {
        background-color: rgba(0, 0, 0, .1);
        left: 0;
        z-index: 1;
    }
    .video{
        position: absolute;
        top: 0;left: 0;
        width: 100%;
    }
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.btn {
    &.btn-circle {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        font-size: $font-size-lg;
    }
}
.btn {
    &.rounded-lg {
        border-radius: 10rem;
    }
}

.btn-custom {
    @extend .d-inline-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    @extend .py-3;
    @extend .px-5;
    font-weight: $font-weight-bold;
    small {font-size: .87rem;}
}

.btn {
    &-sign {
        &:hover {
            color: black !important;
        }
    }
}
footer {
    background-color: #181D2B;
}

.btn-s {
    &:hover {
        color: white !important;
        background-color: $danger;}
}

.bg-curve {
    background-size: 100% auto;
    background-repeat: no-repeat;
    &.bg-curve-top {
        background-image: url('../images/bg-curve-top.svg');
        background-position: center top;
        padding-top: 10rem;
        padding-bottom: 8rem;
    }
    &.bg-curve-bottom {
        background-position: center top;
        background-image: url('../images/bg-curve-bottom.svg');
        padding-bottom: 8rem;
    }
}

.bg-detail {
    background-repeat: no-repeat;
    &.bg-detail-left {
        background-position: top left;
        background-image: url('../images/figures1.png');
    }
    &.bg-detail-right {
        background-position: top right;
        background-image: url('../images/figures2.png');
        padding-top: 10rem;
    }
    &.bg-detail-square {
        background-position: center right;
        background-image: url('../images/figures3.png');
    }
    &.bg-end-gradient {
        @include gradient-y(transparent, $gray-200)
    }
}

.dropdown-toggle {
    &.btn-light {
        background-color: $white;
        border-color: $white;
        color: $text-muted;
    }
}

// .app {
//     height: 100rem;
// }

.btn {
    &.btn-light {color: #7C706E;}
}

.shadow-sm {box-shadow: 0 0 4px rgba(0,0,0,.15);}
.shadow-md {box-shadow: 0 2px 4px rgba(0,0,0,.15);}

.card-img-wrapper {
    position: relative;

    .upper, .lower {
        position: absolute;
        left: 0;
        width: 100%;
        padding: 1rem;
    }
    .upper {
        top: 0;
    }
    .lower {
        bottom: 0;
        .avatar {
            border: 1px solid $white;
            border-radius: 10rem;
            transform: translate(0,1.5rem);
        }
    }
    .card-img {
        object-fit: cover
    }
}

.card-creator {
    .badges-container  {
        bottom: 0;
    }
}

.creator-list__item {
    .btn-heart {
        position: absolute;
        right: 2%;
        top: 6%;

        &:focus {
            box-shadow: none;
        }
    }

    img {
        height: 130px;
        width: 130px;
    }
}

.carousel {
    .carousel-control-prev,
    .carousel-control-next {
        .btn-circle {
            transform: translateY(-50%);
        }
    }
}

.bg-light-secondary {
    background-color: lighten($secondary,32%);
}
.btn-outline-secondary {
    &:hover {color: theme-color("secondary");}
}
.bg-light-danger {
    background-color: #EED6D6;
}

.message-box{
    height: 30rem;
    overflow-y: auto;
}
.message-job {
    .btn-cancel--custom {
        color:gray !important;
        &:hover {
            background-color: red;
            border: 1px solid $danger;
            color: white !important;
        }
    }
}
.ongoing-jobs {
    ul {
        height: 20rem;
        overflow-y: auto;
        div.list-group-item {
            min-height: 80px;
        }
    }
    .input-group--messages {
       input:focus {
           box-shadow: none !important;
       }
    }
    .job-list {
        cursor: pointer;
    }
    .search {
        .input-group-append {
            width: 55px;
            button {
                left: 50%;
                transform: translateX(-50%);
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
}
.no-underline {
    &:hover {
        text-decoration: none;
    }
}
.divider {
    width: 3rem;
    margin: 1.8rem auto;
    height: 0.3rem;
    background-color: $gray-200;
}
section {
    &:nth-child(1n) {
        .divider {background-color: theme-color("secondary");}
        .faq-icon {color: theme-color("secondary");}
    }
    &:nth-child(2n) {
        .divider {background-color: theme-color("primary");}
        .faq-icon {color: theme-color("primary");}
    }
    &:nth-child(3n) {
        .divider {background-color: theme-color("danger");}
        .faq-icon {color: theme-color("danger");}
    }
}

@media screen and (min-width: 768px) {
    header {
        video {
            height: auto;
            width: 100%;
        }
    }
    .creator-list__item {
        .btn-contact {
            bottom: initial;
            position: initial;
            right: initial;
        }
        .btn-heart {
            position: initial;
        }
        img {
            height: initial;
            width: initial;
        }
    } 
}

@media screen and (min-width: 1024px) {
    header {
       background: none;
        background-attachment: fixed;
    }
}

.card {
    &.bg-light {
        .card-header { border-bottom: 2px solid $white };
    }
}